@font-face {
    font-family: 'TF2';
    src: url('../Assets/Fonts/TF2.ttf');
}

@font-face {
    font-family: 'TF2Build';
    src: url('../Assets/Fonts/TF2Build.ttf');
}
@font-face {
    font-family: 'TF2Secondary';
    src: url('../Assets/Fonts/TF2secondary.ttf');
}