:root {
    --ReliableExcavationDemolition: #B8383B;
    --BuildersLeagueUnited: #5885A2;
}

@font-face {
    font-family: 'TF2';
    src: url('../Assets/Fonts/TF2.ttf');
}

@font-face {
    font-family: 'TF2Build';
    src: url('../Assets/Fonts/TF2Build.ttf');
}
@font-face {
    font-family: 'TF2Secondary';
    src: url('../Assets/Fonts/TF2secondary.ttf');
}

@font-face {
    font-family: 'Compacta';
    src: url('../Assets/Fonts/unicode.compacta.ttf');
}

.headerContainer {
    display: flex;
    padding-top: 0.5cm;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
    padding-left:1cm;
    flex-direction: column;
}

.headerContainer h1 {
    font-size: 30pt;
}

.navContainer {
    display: flex;
    justify-content: space-evenly;
    height: 2cm;
    font-size: 20pt;
}

.navContainer a {
    text-decoration: none;
    font-family: TF2Secondary;
    color: black;
}

.headerContainer .lineContainer hr{
    height: 5px;
    border-style: none;
}

.lineContainer .topLine {
    background-color: var(--ReliableExcavationDemolition);
}

.lineContainer .bottomLine {
    background-color: var(--BuildersLeagueUnited);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Compacta;
    margin: 0;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    background-color: dimgray;
    height: 4cm;
    font-size: 32pt;
    position: absolute;
    bottom: 0;
    align-self: center;
    width: 100vw;